*{
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}

:root{
	scroll-behavior: smooth;
}


body{
	font-family: 'Open Sans', sans-serif;
}
.contenedor{
	width: 90%;
	max-width: 1200px;
	overflow: hidden;
	margin: auto;
	padding: 60px 0;/*espaciados*/

}

header{

	height: 100vh;
	background-image: linear-gradient(to top, rgba(161,140,209,0.5)0%, rgba(251,194,235,0.5))100%, url(../img/fondo.jpg);
	background: no-repeat;
	background-attachment: fixed;
	background-position: center; 
}

.head{
	text-align: center;
	padding: 0;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	color: #fff;
}

.subtitulo{
	text-align: center;
	font-weight: 300;
	color: #9f8ad0;
	margin-bottom: 40px;
	font-size: 40px

}

.contenedor-servicio{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.contenedor-servicio img{
	width: 40%;

}

.checklist-servicio{
	width: 45%;
}
.service{
	margin-bottom: 20px;
}
.n-service{
	margin-bottom: 7px;
	color: #9f8ad0;
}



footer{

	background: #9f8ad0;
	padding bottom: 0.1px;/*linea que separa*/

}

.footer-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 60px;
	padding-bottom: 40px;
}
.contact-us{
	width: 40%;
	color: #fff;
}
.brand{
	font-weight: 500;
	font-size: 40px;
}
.brand+p{
	font-weight: 500;
}